# <span style='font-family: CMU Sans Serif, sans-serif;'> How to retrieve data from Global Factor Data  </span>

The database is hosted on Wharton Research Data Service (WRDS) and developed by Theis I. Jensen (Yale) Bryan Kelly (Yale, AQR Capital, and NBER), and Lasse H. Pedersen (Copenhagen Business School and AQR Capital). 

This code shows how to connect to that database and query data from it.

## <span style='font-family: CMU Sans Serif, sans-serif;'> Preamble  </span>

### <span style='font-family: CMU Sans Serif, sans-serif;'> Package import  </span>

First the necessary libraries are imported (`dotenv` is not strictly necessary but good for hiding personal information such as usernames and passwords).

In [1]:
from dotenv import load_dotenv

import pandas as pd
import wrds
import os

### <span style='font-family: CMU Sans Serif, sans-serif;'> Notebook setup  </span>

In [2]:
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 0)  # Use full cell width
pd.set_option('display.expand_frame_repr', False)  # Prevent line breaks

### <span style='font-family: CMU Sans Serif, sans-serif;'> Credentials import  </span>

Password and user-name to Wharton Research Data Services are loaded into environment with `.env` file extension to keep these credentials hidden.

In [3]:
load_dotenv()
wrds_usr = os.getenv("MY_WRDS_USERNAME")
wrds_pw = os.getenv("MY_WRDS_PASSWORD")

## <span style='font-family: CMU Sans Serif, sans-serif;'> Data import  </span>

Below a `SQL` query is created and data is queried from the `contrib.global_factor` database hosted on WRDS.

### <span style='font-family: CMU Sans Serif, sans-serif;'> Initialize connection to WRDS   </span>

The code below connects this session the WRDS server, so that *all* data available on the website can be pulled into this session via en `SQL` query.

In [4]:
wrds_db = wrds.Connection(
    wrds_username = wrds_usr, 
    wrds_password = wrds_pw)

Loading library list...
Done

### <span style='font-family: CMU Sans Serif, sans-serif;'> Available variables  </span>

The code below creates lists of the available variables in the database `contrib.global_factor`.

In [5]:
# Import excel sheets from official GitHub page (created by Global Factor Data team)
countries = pd.read_excel('https://github.com/bkelly-lab/ReplicationCrisis/raw/master/GlobalFactors/Country%20Classification.xlsx')
variables = pd.read_excel('https://github.com/bkelly-lab/ReplicationCrisis/raw/master/GlobalFactors/Factor%20Details.xlsx')

The dataframes of available data are cleaned and corrected in the code below. Notice we only select developed or emerging markets.

In [6]:
countries = countries[countries['msci_development'].isin(('developed', 'emerging'))][['excntry', 'msci_development']]
variables = variables[variables['abr_jkp'].notna()][['abr_jkp', 'name_new']]

The variables we can select are shown below.

In [7]:
print(variables.T)
print("")
print(countries.T)

                                     0                          3                           4                              6                     7                                                  9                                           10                            11                             12                     19              22                24                  26                 27                       30              32            34                36                      38                     39                                 40               42                             44                         47                               49                 51               53                             56            57                        59                    60                              61                                        62                     63                      64                      65                66                 68                             69                70                71                  72              73                                           74                                  75                                       76                                         77                                     78                                          79                              80                                81                               82                               83                       84                          86                      87                  89                   90                 91                          92                                    93                          94                                    95                              96             98              100               102                      104                             105                               107                                      108                               110                                      111                                          113                                                114               116             120             122                            125            128                       130            135           137                 139          141                         142       151                                  155                                    156                                     157                             158                     160                162                    165                   171             172                   177                  178                   179                       185                         187                           192                              193                               194                                  195                                196                                   197                                 198                                    199                                 200                                    201            202                                                203                                                204                                               205                                               206                207          209                            210              211             212                                          213                    214                                                215              216             217                                                218                                                219                                                220                   221             222                                   223                                                224                                             225         226                  233            234                          235                        240                        241                         242                 243                       244                                            245               246                            247                                      248                             249                            250                            251                                252                         253                         254
abr_jkp                           niq_su                    ret_6_1                    ret_12_1                       saleq_su              tax_gr1a                                           ni_inc8q                            prc_highprc_252d                    resff3_6_1                    resff3_12_1                  be_me         debt_me             at_me           ret_60_12              ni_me                   fcf_me       div12m_me       eqpo_me          eqnpo_me                sale_gr3               sale_gr1                         ebitda_mev          sale_me                         ocf_me                    ival_me                          bev_mev         netdebt_me           eq_dur                      capex_abn        at_gr1               ppeinv_gr1a                noa_at                        noa_gr1a                                 lnoa_gr1a               capx_gr1                capx_gr2                capx_gr3        chcsho_12m          eqnpo_12m                       debt_gr3           inv_gr1          inv_gr1a        oaccruals_at    taccruals_at                                    cowc_gr1a                            coa_gr1a                                 col_gr1a                                 nncoa_gr1a                              ncoa_gr1a                                   ncol_gr1a                       nfna_gr1a                          sti_gr1a                         lti_gr1a                         fnl_gr1a                  be_gr1a                oaccruals_ni            taccruals_ni            netis_at           eqnetis_at         dbnetis_at                      niq_be                           niq_be_chg1                      niq_at                           niq_at_chg1                        ebit_bev      ebit_sale        sale_bev       at_turnover                    gp_at                         gp_atl1                            ope_be                                 ope_bel1                             op_at                                  op_atl1                                       cop_at                                           cop_atl1           f_score         o_score         z_score                         pi_nix          at_be                 saleq_gr1          rd_me       rd_sale             opex_at      emp_gr1                      rd5_at       age                           dsale_dinv                             dsale_drec                               dgp_dsale                      dsale_dsga            sale_emp_gr1        tangibility               kz_index        ocfq_saleq_std         cash_at                ni_ar1              ni_ivol  earnings_variability                   aliq_at                    aliq_mat                    seas_1_1an                       seas_1_1na                        seas_2_5an                           seas_2_5na                        seas_6_10an                           seas_6_10na                        seas_11_15an                           seas_11_15na                        seas_16_20an                           seas_16_20na  market_equity                                       ivol_ff3_21d                                     ivol_capm_252d                                     ivol_capm_21d                                     ivol_hxz4_21d           rvol_21d     beta_60m                  betabab_1260d  beta_dimson_21d   turnover_126d                            turnover_var_126d            dolvol_126d                                    dolvol_var_126d              prc        ami_126d                                    zero_trades_21d                                   zero_trades_126d                                   zero_trades_252d             rmax1_21d       rskew_21d                        iskew_capm_21d                                      iskew_ff3_21d                                  iskew_hxz4_21d  coskew_21d              ret_1_0  betadown_252d                 bidaskhl_21d                    ret_3_1                    ret_9_1                    ret_12_7          corr_1260d                 rmax5_21d                                 rmax5_rvol_21d             ni_be                         ocf_at                              ocf_at_chg1                 mispricing_perf                mispricing_mgmt                            qmj                           qmj_prof                  qmj_growth                  qmj_safety
name_new  Standardized earnings surprise  Price momentum t-6 to t-1  Price momentum t-12 to t-1  Standardized Revenue surprise  Tax expense surprise  Number of consecutive quarters with earnings i...  Current price to high price over last year  Residual momentum t-6 to t-1  Residual momentum t-12 to t-1  Book-to-market equity  Debt-to-market  Assets-to-market  Long-term reversal  Earnings-to-price  Free cash flow-to-price  Dividend yield  Payout yield  Net payout yield  Sales Growth (3 years)  Sales Growth (1 year)  Ebitda-to-market enterprise value  Sales-to-market  Operating cash flow-to-market  Intrinsic value-to-market  Book-to-market enterprise value  Net debt-to-price  Equity duration  Abnormal corporate investment  Asset Growth  Change PPE and Inventory  Net operating assets  Change in net operating assets  Change in long-term net operating assets  CAPEX growth (1 year)  CAPEX growth (2 years)  CAPEX growth (3 years)  Net stock issues  Equity net payout  Growth in book debt (3 years)  Inventory growth  Inventory change  Operating accruals  Total accruals  Change in current operating working capital  Change in current operating assets  Change in current operating liabilities  Change in net noncurrent operating assets  Change in noncurrent operating assets  Change in noncurrent operating liabilities  Change in net financial assets  Change in short-term investments  Change in long-term investments  Change in financial liabilities  Change in common equity  Percent operating accruals  Percent total accruals  Net total issuance  Net equity issuance  Net debt issuance  Quarterly return on equity  Change in quarterly return on equity  Quarterly return on assets  Change in quarterly return on assets  Return on net operating assets  Profit margin  Asset turnover  Capital turnover  Gross profits-to-assets  Gross profits-to-lagged assets  Operating profits-to-book equity  Operating profits-to-lagged book equity  Operating profits-to-book assets  Operating profits-to-lagged book assets  Cash-based operating profits-to-book assets  Cash-based operating profits-to-lagged book as...  Pitroski F-score  Ohlson O-score  Altman Z-score  Taxable income-to-book income  Book leverage  Sales growth (1 quarter)  R&D-to-market  R&D-to-sales  Operating leverage  Hiring rate  R&D capital-to-book assets  Firm age  Change sales minus change Inventory  Change sales minus change receivables  Change gross margin minus change sales  Change sales minus change SG&A  Labor force efficiency  Asset tangibility  Kaplan-Zingales index  Cash flow volatility  Cash-to-assets  Earnings persistence  Earnings volatility  Earnings variability  Liquidity of book assets  Liquidity of market assets  Year 1-lagged return, annual  Year 1-lagged return, nonannual  Years 2-5 lagged returns, annual  Years 2-5 lagged returns, nonannual  Years 6-10 lagged returns, annual  Years 6-10 lagged returns, nonannual  Years 11-15 lagged returns, annual  Years 11-15 lagged returns, nonannual  Years 16-20 lagged returns, annual  Years 16-20 lagged returns, nonannual  Market Equity  Idiosyncratic volatility from the Fama-French ...  Idiosyncratic volatility from the CAPM (252 days)  Idiosyncratic volatility from the CAPM (21 days)  Idiosyncratic volatility from the q-factor model  Return volatility  Market Beta  Frazzini-Pedersen market beta      Dimson beta  Share turnover  Coefficient of variation for share turnover  Dollar trading volume  Coefficient of variation for dollar trading vo...  Price per share  Amihud Measure  Number of zero trades with turnover as tiebrea...  Number of zero trades with turnover as tiebrea...  Number of zero trades with turnover as tiebrea...  Maximum daily return  Total skewness  Idiosyncratic skewness from the CAPM  Idiosyncratic skewness from the Fama-French 3-...  Idiosyncratic skewness from the q-factor model  Coskewness  Short-term reversal  Downside beta  The high-low bid-ask spread  Price momentum t-3 to t-1  Price momentum t-9 to t-1  Price momentum t-12 to t-7  Market correlation  Highest 5 days of return  Highest 5 days of return scaled by volatility  Return on equity  Operating cash flow to assets  Change in operating cash flow to assets  Mispricing factor: Performance  Mispricing factor: Management  Quality minus Junk: Composite  Quality minus Junk: Profitability  Quality minus Junk: Growth  Quality minus Junk: Safety

                         0         1          2          3          4         6         7          8          9          10         11         12         13        14        15        16         17        18         19        20         21        22        23         24        25         26        27         28        29         30        31         32         33        34         36         38        39        40        41        42        44         46        47        48         50        58        59
excntry                 USA       ARE        JPN        HKG        GBR       BRA       CHL        CAN        AUS        DEU        FRA        SWE        CHE       CHN       COL       CZE        SGP       EGY        ITA       GRC        ESP       HUN       IDN        ISR       IND        NLD       KOR        NOR       KWT        BEL       MEX        DNK        FIN       MYS        NZL        AUT       PER       PHL       POL       QAT       SAU        IRL       THA       TUR        PRT       TWN       ZAF
msci_development  developed  emerging  developed  developed  developed  emerging  emerging  developed  developed  developed  developed  developed  developed  emerging  emerging  emerging  developed  emerging  developed  emerging  developed  emerging  emerging  developed  emerging  developed  emerging  developed  emerging  developed  emerging  developed  developed  emerging  developed  developed  emerging  emerging  emerging  emerging  emerging  developed  emerging  emerging  developed  emerging  emerging

### <span style='font-family: CMU Sans Serif, sans-serif;'> Querying data from WRDS   </span>

This is an example query that pulls data from the previously talked about database. The SQL used for this can be found in the `query.sql` file in this folder.

In [9]:
with open("query.sql", "r") as file: 
    sql_query = file.read()

data = wrds_db.raw_sql(sql_query)

/Users/albertschroder/Desktop/BACHELOR NOTES/bachelor_venv/lib/python3.11/site-packages/wrds/sql.py:591: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat([full_df, chunk])

To avoid running this again we save the data as a compressed csv file.

In [12]:
data.to_parquet("usa__gfd.parquet", engine="pyarrow", compression="snappy")

In [13]:
pd.set_option('display.max_rows', None)  # Show all rows
print(pd.DataFrame(data.isna().sum()))

                            0
capex_abn             1775268
z_score               1322279
ami_126d               825114
at_gr1                 863896
tangibility           1144876
sale_bev               899889
at_me                  748812
at_be                  843501
bev_mev                955783
be_me                  881272
capx_gr1              1259420
capx_gr2              1485466
capx_gr3              1707909
at_turnover            787078
ocfq_saleq_std        2063979
cop_at                1080503
cop_atl1              1109823
cash_at                749502
dgp_dsale             1358198
be_gr1a               1062948
coa_gr1a              1208691
col_gr1a              1170604
cowc_gr1a             1232328
fnl_gr1a               879421
lti_gr1a              1148751
lnoa_gr1a             1360426
nfna_gr1a              879421
nncoa_gr1a            1237515
noa_gr1a              1260095
ncoa_gr1a             1186376
ncol_gr1a             1198150
ocf_at_chg1            984675
niq_at_chg1           1515882
niq_be_chg1           1655704
sti_gr1a              1415177
ppeinv_gr1a           1262750
dsale_dinv            1787491
dsale_drec            1309478
dsale_dsga            1705568
dolvol_var_126d        513829
turnover_var_126d      524154
gvkey                  505729
iid                    505729
comp_exchg            3989636
comp_tpci             3989636
coskew_21d             805271
permco                 221970
permno                 221970
crsp_exchcd            221970
crsp_shrcd             221970
prc_highprc_252d       829213
date                        0
debt_me                762605
beta_dimson_21d        805271
div12m_me              467399
dolvol_126d            502560
dolvol                 389943
betadown_252d          878036
ni_ar1                1815170
earnings_variability  1860109
ni_ivol               1815170
ni_me                  759794
ebitda_mev             855670
eom                         0
eq_dur                1326126
eqnpo_12m              472692
ret_exc                148278
ret_exc_lead1m         129664
excntry                     0
fx                      38608
ff49                   313466
age                         0
betabab_1260d         1604742
fcf_me                1034851
gics                  2727557
gp_at                  752152
gp_atl1                893524
debt_gr3              1678009
rmax5_21d              805271
rmax5_rvol_21d         992070
prc_high               912333
emp_gr1               1453300
id                          0
iskew_capm_21d         805271
iskew_ff3_21d         1007951
iskew_hxz4_21d        1276270
ivol_capm_21d          805271
ivol_capm_252d         828267
ivol_ff3_21d          1007951
ivol_hxz4_21d         1276270
common                      0
exch_main                   0
obs_main                    0
bidask                      0
primary_sec                 0
source_crsp                 0
ival_me               1768490
inv_gr1a               967105
inv_gr1               1616038
kz_index              1275245
sale_emp_gr1          1342444
aliq_at               1199999
aliq_mat              1446170
curcd                   38607
ret_60_12             1558955
prc_low                887452
beta_60m              1201723
corr_1260d            1578287
market_equity           81572
me                      81572
me_company              81483
rmax1_21d              805271
mispricing_mgmt        947564
mispricing_perf        266944
ret_lag_dif             94133
naics                 1763168
dbnetis_at             774793
netdebt_me             762605
eqnetis_at            1219329
noa_at                1243867
eqnpo_me              1244652
chcsho_12m             409668
netis_at              1219714
ni_inc8q              1832073
tvol                   387238
zero_trades_21d        461899
zero_trades_252d       598769
zero_trades_126d       517750
o_score               1272034
oaccruals_at          1076592
ocf_at                 801216
ocf_me                 837283
opex_at                752189
op_at                  743287
ope_be                1311742
op_atl1                885976
ope_bel1              1458255
eqpo_me               1399589
oaccruals_ni          1078521
taccruals_ni          1107211
f_score               1514617
ret_12_1               447810
ret_12_7               458999
ret_3_1                180196
ret_6_1                270917
ret_9_1                360143
prc                     57009
prc_local               57008
ebit_sale              814000
qmj                   1810910
qmj_growth            1810837
qmj_prof               816037
qmj_safety             498541
niq_at                1271667
niq_be                1382024
rd5_at                3158887
rd_me                 2636540
rd_sale               2671489
resff3_12_1           1140041
resff3_6_1            1143805
ni_be                  858221
ebit_bev               903131
rvol_21d               805271
saleq_gr1             1265342
sale_gr1               975554
sale_gr3              1424833
sale_me                768245
adjfct                   2020
turnover_126d          518800
shares                  32489
ret_1_0                143880
sic                    257864
size_grp                81572
niq_su                1646577
saleq_su              1696261
tax_gr1a               906657
pi_nix                1681083
bidaskhl_21d           653499
taccruals_at          1104837
ret_local              143133
ret                    143133
rskew_21d              805271
seas_1_1an             491128
seas_1_1na             524921
seas_11_15an          2982444
seas_11_15na          3017643
seas_16_20an          3334603
seas_16_20na          3361296
seas_2_5an            1640396
seas_2_5na            1698072
seas_6_10an           2469185
seas_6_10na           2516449

In [ ]:
data.shape

(4211606, 192)

: